任务详情

结合 numpy 创建一个 (3, 10) 区间内的包含 5 个随机整数的一维数组 ndarray 为 data1，并以此 data 再创建索引为 a, b, c, d, e 的 Series 为 s1（任务提示：利用 np.random.randint() 创建随机矩阵。阅读参考文章①②）

请分别用位置索引和标签索引的方式提取是 s1 的后三个数（阅读参考文章③）

请用字典的形式创建一个DataFrame，将下方表格数据存储进去 （任务提示：创建 DataFrame 有多种方式，本题以字典形式创建。阅读参考文章④）

![Jupyter](https://cdn.py2china.cn/study-group/pandas/3-1.png)

结合 numpy 创建一个 (5, 15) 区间内，形状为 5 行 3 列的随机整数数组为 data2，并以此为基础创建 index 为 ['a', 'c', 'e', 'f', 'h']，columns 为 ['one', 'two', 'three'] 的 DataFrame，并命名为 df_test（阅读参考文章④）

运用 loc 索引以及替换的知识，按下列要求对 df_test 进行增、改、替操作。完成上述要求后，将该数据命名为 df_change（任务提示：一般用 df.loc[行，列] = ？ 做替换。阅读参考文章⑤⑥）

(1) 将 a 行 one 列处替换成空值

(2) 将 c 行 two 列处替换成 -99

(3) 将 c 行 three 列处替换成 -99

(4) 将 a 行 two 列处替换成 -100

(5) 新增 four 列，值为 test

(6) 重置索引为 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

删除 df_change 中存在缺失值的所有行（阅读参考文章⑦）

删除 df_change 中所有值都为 NaN 值的行（阅读参考文章⑦）

df_change 中的所有缺失值（即 NaN）以 0 填充（阅读参考文章⑦）

删除 df_change中的重复行（阅读参考文章⑧）

In [2]:
import numpy as np
import pandas as pd

In [11]:
np.random.seed(1) #随机数固定
data1=np.random.randint(3,10,5)
s1=pd.Series(data1,index=['a','b','c','d','e'])
print(s1)
print(s1[-3:]) #位置索引
print(s1['c':'e'])#标签索引

a    8
b    6
c    7
d    3
e    4
dtype: int32
c    7
d    3
e    4
dtype: int32
c    7
d    3
e    4
dtype: int32

In [13]:
dic={'year':[2017,2018,2019],'price':[10,20,30]}
df=pd.DataFrame(dic)
print(df)

   year  price
0  2017     10
1  2018     20
2  2019     30

In [19]:
np.random.seed(1)
data2=np.random.randint(5,15,5*3).reshape(5,3)
df_test=pd.DataFrame(data2,index=['a','c','e','f','h'],columns=['one','two','three'])
print(df_test)

   one  two  three
a   10   13     14
c   10    5      5
e    6   12     11
f   14    7      9
h   10    7      9

(1) 将 a 行 one 列处替换成空值

(2) 将 c 行 two 列处替换成 -99

(3) 将 c 行 three 列处替换成 -99

(4) 将 a 行 two 列处替换成 -100

(5) 新增 four 列，值为 test

(6) 重置索引为 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [26]:
df_test.at['a','one']=None
df_test.loc['c','two':'three']=-99
df_test.at['a','two']=-100
df_test.loc[:,'four']='test'
df_change=df_test.reindex(index=['a','b','c','d','e','f','g','h'])
print(df_change)

    one    two  three  four
a   NaN -100.0   14.0  test
b   NaN    NaN    NaN   NaN
c  10.0  -99.0  -99.0  test
d   NaN    NaN    NaN   NaN
e   6.0   12.0   11.0  test
f  14.0    7.0    9.0  test
g   NaN    NaN    NaN   NaN
h  10.0    7.0    9.0  test

In [33]:
df_change=df_change.drop_duplicates() #这个就用来看下去重复行效果
new_df=df_change.dropna(how='all')
new_df=new_df.fillna(0)
new_df=new_df.drop_duplicates()
print(df_change) #这个就用来看下去重复行效果
print(new_df)

    one    two  three  four
a   NaN -100.0   14.0  test
b   NaN    NaN    NaN   NaN
c  10.0  -99.0  -99.0  test
e   6.0   12.0   11.0  test
f  14.0    7.0    9.0  test
h  10.0    7.0    9.0  test
    one    two  three  four
a   0.0 -100.0   14.0  test
c  10.0  -99.0  -99.0  test
e   6.0   12.0   11.0  test
f  14.0    7.0    9.0  test
h  10.0    7.0    9.0  test